.movies {
  width: 100%;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;

  list-style-type: none;

  .movie {
    text-align: center;
    img {
      border-radius: 20px;
    }
  }
}
